<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <link rel="stylesheet" href="/public/css/index.css">
        <link rel="stylesheet" href="/public/css/header.css">

        <title>10dem Education|Home</title>
    </head>

    <body>
        <header id="header">
                
            <nav id="nav-menu-container">

                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-left">
                        <!-- <div id="logo">
                        
                            <a class="navbar-brand" href="#"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span></a>
                            
                        </div> -->
                        <ul class="nav-menu">
                            <li><a href="">Home</a></li>
                            <li><a href="">Ongoing Project</a></li>
                            <li class="menu-has-children dropdown-toggle"><a href="">Membership</a>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item navMember">
                                        <h5 class="innerhead">Pro</h5>
                                        <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                        <a href="#" class="innertag">View all</a>
                                    </li>
                                    <li class="nav-item navMember">
                                        <h5 class="innerhead">Organization</h5>
                                        <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                        <a href="#" class="innertag">View all</a>
                                    </li>
                                    <li class="nav-item navMember">
                                        <h5 class="innerhead">Non Profits</h5>
                                        <p class="innerpara">Proin iaculis purus consequat sem cure digni ssim donec porttitora.</p>
                                        <a href="#" class="innertag">View all</a>
                                    </li>
                                </ul>
                            </li>
                            <li style="position: relative;top: -3px;"><a href="#"><i class="fas fa-crown" style="color: rgb(233, 233, 3);"></i>Try 10dem pro</a></li>
                            <l1><a href="#"><img src="/public/img/notifications.svg"><span style="position: relative;right: 10px;bottom: 10px;padding: 2px 6px;border-radius: 50%;background: red;font-size: 14px;">2</span></a></l1>
                        </ul>
                    </div>
                    
                    <ul class="nav-menu">
                        <li><a class="btn-primary" style="border-radius: 5px;position: relative;top: -6px;padding: 4px 8px 6px 8px;" href="#"><i class="fas fa-plus" style="color: rgb(255, 255, 255);"></i>  Start Collaboration</a></li>
                        <li class="menu-has-children dropdown-toggle navprofile" style="margin-top: 0;"><a href="#" style="color: #000;background: #FFFFFF;border-radius: 50%;height: 35px;width: 35px;text-align: center;padding: 7px;">S</a>
                            <ul style="right: 0 !important;left: auto !important;width: fit-content;padding-left: 1px !important;padding-right: 1px !important;padding-inline-start: 0px;background: #fff !important;">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            
            </nav><!-- #nav-menu-container -->

        </header><!-- #header -->



        <div class="wrapper">

            <!-- Page Content  -->
            <div id="content" class="container">
                <div style="text-align: center;">
                    <img src="/public/img/assignProject.png" style="margin: 150px auto 20px auto">
                    <p style="font-size: 28px;font-family: ProductB;color: #4A4A4A;margin: 0;">Oops!<br/>Something went wrong</p>
                    <p>please try again</p>
                    <button style="width: 200px;height: 50px;background: #FD585C 0% 0% no-repeat padding-box;box-shadow: 0px 1px 3px #00000033;font-size: 18px;font-family: ProductR;letter-spacing: 0;color: #FFFFFF;outline: none;border: none;cursor: pointer;">Retry</button>
                </div>
            </div> 

        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>

        <script src="js/index.js"></script>
       
    </body>
</html>
