<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <link rel="stylesheet" href="../public/css/util.css">
        <link rel="stylesheet" href="../public/css/signup.css">


        <title>10dem Education|Sign In</title>
        <style>
            .sign_up_bg {
                background-image: url("/public/img/student login-1 .png");
                min-height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

        </style>
    </head>

    <body>
        <div class="header"></div>

        <div class="sign_up_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-2">

                    </div>
                    <div class="col-lg-4 col-md-4">
                    <form class="validate-form" action="/student-Credentials" method="POST">
                        <span class="login100-form-title" style="margin-top: 40%;">
                            Student Sign In
                        </span>
                        
                        <div class="wrap-input100 validate-input" data-validate = "Please enter a valid email address">
                            <input class="input100" type="text" name="email">
                            <span class="focus-input100"></span>
                            <span class="label-input100">User Name</span>
                        </div>
                        
                        
                        <div class="wrap-input100 validate-input" data-validate="Please enter a valid password">
                            <input class="input100" type="password" name="pass">
                            <span class="focus-input100"></span>
                            <span class="label-input100">Password</span>
                        </div>

    
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">
                                Sign In
                            </button>
                        </div>

                        <div class="text-center p-t-20 p-b-20">
                            <a href="" class="txt1">Forget Password?</a>
                        </div>
                        
                    </form>
                    </div>

                    <div class="col-lg-7 col-md-6"></div>   

                </div>
            </div>
        </div>

        <footer>
            <p>10dem © 2020</p>
        </footer>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <script src="https://kit.fontawesome.com/6f24662773.js" crossorigin="anonymous"></script>

        <script src="../public/js/signup.js"></script>

    </body>
</html>